.reset_holder{
    display: flex;
    height: 100vh;
    background-color: rgba(240, 244, 252, 0.8);
    max-width: 1400px;
    width: 100vw;
}
.reset__whole{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    /* background-color: red; */
}
.right_logo{
    left: 0;
    margin-left: 4rem;
    top: 0;
    margin-top: 9rem;
    position: absolute;
  }
.forgot_input::placeholder{
    font-size: 14px;
    font-weight: 600;
}
.image{
    flex: 1;
    overflow: hidden;
  }
  .sideimg{
    height: 100%;
    object-fit: fill;
    width: 90%;
    display: block;
  }


.reset_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Helvetica";
    width: 100%;
    /* background-color: blue; */
}
.reseteditPopUp_change_psw{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: aqua; */
}
.reset_text{
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    height: 24px;
    margin-bottom: 3rem;
    /* background-color: green; */
}
.reset_text h1{
    align-self: center;
    font-size: 25px;
}
.resetcodeBlock,
    .resetemailBlock,
    .editPasswordBlock{
    /* background-color: pink; */
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.reset_logo{
    height: 220px;
    width: 150px;
    background-color: transparent;
    margin-top: -35.5rem;
    margin-left: -96px;
}
.editPopUp_form{
    background: #F0F4FC;
    border-radius: 5px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.4s ease, color 0.3s ease, box-shadow 0.3s ease;
    padding: 35px;
    position: fixed;
    margin: 0rem 20rem 0rem 17rem;
    padding-top: 8rem;
    width: 400px;
}
.reset__input{
    height: 54px;
    width: 500px;
    align-items: center;
    display: flex;
    align-self: center;
    outline: none;
    border: none;
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
}
.editPasswordBlock{
    height: 54px;
    width: 500px;
    align-items: center;
    display: flex;
    align-self: center;
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    position: relative;
}
.reset__input::placeholder{
    font-weight: 600;
    font-size: 16px;
}
.reset__input:focus {
    border: 0.5px solid #6a8fe5;
  }

  .reset_code{
    height: 54px;
    width: 500px;
    align-items: center;
    display: flex;
    align-self: center;
    outline: none;
    border: none;
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    position: relative;
  }
.reseteditPasswordBlock__icon{
    font-size: 20px;
    margin-right: 1rem;
    right: 0;
    position: absolute;
    cursor: pointer;
}
.changePasswordBtn{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(2, 2, 42);
    cursor: pointer;
    border-radius: 5px;
    width: 500px;
    height: 52px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    border: none;
    font-size: 18px;
    font-weight: 700;
}
.changePasswordBtn:hover{
    background-color: #021641;
}
.editPopUp_header_text{
    margin-bottom: -3rem;
    font-size: 18px;
    font-weight: 800;
}
.error{
    font-size: 12px;
    max-width: 300px;
    margin-bottom: .7rem;
}

.resetpasswordWrapper{
    display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  border: transparent;
  outline: none;
  transition: all 0.5s;
}
/* reseteditPasswordBlock__icon */
.resetcodeBlock,
.resetemailBlock,
.editPasswordBlock{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MEDIA QUERY */
@media screen and (max-width: 1060px) {
    .reseteditPopUp_change_psw{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 85%; */
        /* background-color: aqua; */
    }
    .reset__input{
        height: 54px;
    }
    .resetcodeBlock,
    .resetemailBlock,
    .editPasswordBlock{
        /* background-color: pink; */
        width: 80%;
    }
    .reseteditPasswordBlock__icon{
        margin-right: 1rem;
    }
    .reset_details{
        width: 25rem;
        /* background-color: blue; */
    }
    .changePasswordBtn {
        width: 100%;
        cursor: pointer;
        height: 57px;
     }
}

@media screen and (max-width: 900px) {
    .image{
        display: none;
    }
    .reset_logo{
        height: 220px;
        width: 150px;
        margin-top: -35.5rem;
        margin-left: -50px;
    }
    .reset_details{
        display: flex;
        width: 28rem;
        /* background-color: blue; */
    }
    .resetcodeBlock,
    .resetemailBlock,
    .editPasswordBlock{
        /* background-color: pink; */
        width: 90%;
    }
    .reseteditPopUp_change_psw{
        display: flex;
        /* background-color: aqua; */
    }
    .changePasswordBtn {
        height: 57px;
         font-weight: 700;
         font-size: 16px;
     }
}


@media screen and (max-width: 600px) {

.reset__whole{
    width: 100%;
    /* background-color: orange; */
}

.resetcodeBlock,
.resetemailBlock,
.editPasswordBlock{
    /* background-color: pink; */
    width: 80%;
}
.reset_details{
    width: 25rem;
    /* background-color: blue; */
}
.reset__whole{
    width: 100vh;
    /* background-color: red; */
}
}

/* Having issues here  */
@media screen and (max-width: 510px) {
    .reset__whole{
        width: 100vw;
    }
    .resetcodeBlock,
.resetemailBlock,
.editPasswordBlock{
    /* background-color: pink; */
    width: 60%;
}
.reset_details{
    width: 19rem;
    /* background-color: blue; */
}
.reset__input{
    height: 45px;
    width: 500px;
    font-size: 16px;
}
}