.FogotcomfirmationContainer{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    position: absolute;
    border: 1.5px solid #0744d3;
    background: #FFFFFE;
    top: 8rem;
    margin-right: 3rem;
    width: 550px;
    height: 300px;
    max-width: 1400px;
    transition: background-color 0.4s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.Fogot_confirmation{
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: 20px;
}
.Fogot_reset_password{
    color: #0744D3;
    font-weight: 900;
    font-size: 14px;
}
.Fogot_reset{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    display: flex;
}
/* MEDIA QUERY */
@media screen and (max-width: 1200px) {  
    .FogotcomfirmationContainer{
        width: 100%;
    }
    }
@media screen and (max-width: 1100px) { 
    .FogotcomfirmationContainer{
        width: 105%;
    } 
}
@media screen and (max-width: 950px) { 
    .FogotcomfirmationContainer{
        width: 90%;
    } 
}
@media screen and (max-width: 850px) { 
    .FogotcomfirmationContainer{
        margin-right: 0rem;
        width: 70%;
    } 
}
@media screen and (max-width: 560px) {  
    .FogotcomfirmationContainer{
        width: 90%;
    }
}
@media screen and (max-width: 350px) {  
    .Fogot_reset{
        font-size: 14px;
    }
}