.Resendclose{
    display: flex;
    justify-content: end;
}
.Resendclose img{
    position: absolute;
    top: 15px;
    right: 15px;
}
.ResendcomfirmationContainer{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    position: absolute;
    border: 1.5px solid #0744d3;
    background: #FFFFFE;
    left: 0;
    right: 0;
    /* margin: 9rem 0; */
    /* margin-left: 2rem; */
    /* top: 0; */
    /* bottom: 0; */
    top: 10rem;
    margin-right: 3rem;
    width: 600px;
    height: 400px;
    max-width: 1400px;
    transition: background-color 0.4s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.Resend_confirmation{
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: 20px;
}
.Resend_confirmation p{
    font-weight: 700;
    font-size: 16px;
}

/* MEDIA QUERY */
@media screen and (max-width: 1200px) {  
    .ResendcomfirmationContainer{
        width: 100%;
    }
    }
@media screen and (max-width: 1100px) { 
    .ResendcomfirmationContainer{
        width: 105%;
    } 
}
@media screen and (max-width: 1055px) { 
    .ResendcomfirmationContainer{
        width: 100%;
    } 
}
@media screen and (max-width: 950px) { 
    .ResendcomfirmationContainer{
        width: 90%;
    } 
}
@media screen and (max-width: 850px) { 
    .ResendcomfirmationContainer{
        margin-left: 2rem;
        width: 90%;
        margin-top: 7rem;
    } 
}
@media screen and (max-width: 560px) {  
    .ResendcomfirmationContainer{
        width: 95%;
        margin-left: .5rem;
    }
}
@media screen and (max-width: 350px) {  
    .Resend_confirmation p{
        font-weight: 700;
        font-size: 14px;
        text-align: center;
    }
}