.bodyContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: max-content;
  background-color: rgba(240, 244, 252, 0.8);
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-between;
}
.password{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.login__icon {
  position: absolute;
  right: 0;
  padding-right: 10px;
  margin-bottom: .5rem;
  font-size: 28px;
}
.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 10rem;
  margin: 0;
  padding: 0;
}
.main_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Helvetica";
  position: relative;
  z-index: 2;
}
.welcome {
  font-family: Helvetica;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  height: 24px;
  margin-bottom: 50px;
}
.login {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgb(2, 2, 42);
  border-radius: 5px;
  width: 500px;
  height: 52px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.login_text {
  align-content: center;
}
.form_input::placeholder {
  font-weight: 600;
  font-size: 16px;
}
.form_input {
  height: 54px;
  width: 500px;
  align-items: center;
  display: flex;
  align-self: center;
  outline: none;
  border: none;
  padding: 20px;
  font-size: 18px;
  border-radius: 8px;
  margin-bottom: .5rem;
  position: relative;
}
.form_input:focus {
  border: 0.5px solid #6a8fe5;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  border: transparent;
  outline: none;
  transition: all 0.5s;
}
.sidepic {
  height: 750px;
  width: 498px;
}
.signup {
  display: flex;
  align-items: center;
  gap: 5px;
}
.signuptext {
  color: #717070;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.signuplink {
  color: #0744d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.link {
  color: rgb(2, 2, 42);
}
.reveal {
  position: absolute;
  z-index: 2;
  border: none;
  background: transparent;
  margin-left: -65px;
  margin-top: 15px;
  font-size: 20px;
}

.forgotpwd {
  font-family: "Helvetica";
  font-style: italic;
  color: rgb(2, 2, 42);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin-top: -.1rem;
  text-decoration: none;
}

.errMsg {
  font-size: 12px;
  color: red;
  position: absolute;
  width: 400px;

}

.logo {
  margin-left: -6rem;
  height: 220px;
  width: 150px;
  margin-top: -30rem;
}
.right_login_page{
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


@media screen and (max-width: 1200px) {
  .sidepic{
    width: 450px;
    height: 100vh;
  }
  .body{
    gap: 8rem;
  }
.main_login{
  margin-left: -2rem;
}
.login_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_input{
  width: 400px;
}
.input{
  display: flex;
  justify-content: center;
  align-items: center;
}
.password{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.login__icon {
  position: absolute;
  right: 0;
  font-size: 28px;
}
.login{
  width: 400px;
}
.forgotpwd {
  width: 400px;
}
.login {
  margin-top: 10px;
  margin-bottom: 20px;
}
.logo {
  margin-left: -3rem;
  margin-top: -25rem;
}
}
@media screen and (max-width: 1050px){
  .sidepic{
    width: 350px;
    height: 100vh;
  }
  .body{
    gap: 8rem;
  }
.main_login{
  margin-left: -2rem;
}
.logo {
  margin-top: -10rem;
}

}
@media screen and (max-width: 950px){
  .sidepic{
    width: 350px;
    height: 100vh;
  }
  .body{
    gap: 3rem;
  }
.main_login{
  margin-left: -4rem;
  margin-top: -5rem;
}
.form_input{
  width: 300px;
}
.errMsg{
  width: 300px;
}
.input{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login{
  width: 300px;
}
.forgotpwd {
  width: 300px;
}
.logo {
  margin-left: -1rem;
  margin-top: -25rem;
  height: 40px;
  position: absolute;
}

}
@media screen and (max-width: 800px){
  body{
    background-color: red;
  }
  .body{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  .sidepic{
    display: none;
  }
  .right_login_page{
    max-height: 25rem;
  }
 .main_login{
  width: 100vw;
  height: 100vh;
  margin-top: 1rem;

 }
 .logo {
  margin-left: -3rem;
  margin-top: -5rem;
  height: 40px;
  position: absolute;
}
}
@media screen and (max-width: 600px){
  .logo {
    margin-top: -14rem;
  }
}
@media screen and (max-width: 500px){
  body{
    background-color: purple;
  }
  .main_login{
    width: 100vw;
    height: 100vh;
    margin-top: 3rem;
  
   }
   .logo {
    margin-top: -7rem;
  }
}